<div class="job box">
  <h2 class="job-title"><%= job.jobtitle %></h2>
  <h3 class="job-source"><%= job.companyname %> tional PLC</h3>
  <h3 class="job-location"><%= job.location %></h3>
  <p class="job-description"><%= job.jobdescription %></p>
  <h3 class="job-salary"><%= job.salary %></h3>
  <a href="/jobs/<%= job.id %> " class="btn btn-read">Read More</a>
</div>
